// Place all the styles related to the Meetings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


body{
    margin:0 !important;
    padding: 5px !important;
 }

 nav{
    box-shadow: 0px 2px 0px #777 ;
    display: flex;
    position: fixed;
    top:0;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
    height: auto;
 }

.navbar-nav .nav-item .nav-link {
    color: maroon;
    border: 0;
    top: 0;
    
 }
 .navbar {
    margin:0;
    padding: 0;
    width: 100%;
    top:0px;

 }
   
.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: red;
    background-color: transparent;
}

ul.navbar-nav {
    font-weight: bold;
    width: auto;
    height: auto;
    margin-top: 0;
    padding: 0;
}
li.nav-item{
    margin-top: 0;
    padding:0;
}
a.navbar-brand:hover{
    background-color: transparent;
}

