<p id="notice"><%= notice %></p>

<h1>Attendance History</h1>
<% if current_user %>
<table>
  <thead>
      <th>Description</th>
      <th>Date</th>
      <th>Present</th>
      <th rowspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @meetings.each do |meeting| %>
      <% attended = false %>
      <% @user_attendance.each do |attendance| %>
        <% if meeting.password == attendance.password %>
          <% attended = true %>
        <% end%>
        </tr>
      <% end %>
      <tr>
        <td><%= meeting.description %></td>
        <td><%= meeting.date %></td>
        <% if !attended %>
          <td id="absent">NO</td>
        <% else %>
          <td id="present">YES</td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Back', '/' %>

<br>
<% else %>
<h2>ToDo: Admin Master attendance view</h2>
<% end %>
